<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit203.vinoweknow.dao.BoardDAO">

    <select id="listBoard" resultType="BoardVO">
        select * from Board
    </select>


    <insert id="createBoard">
        INSERT INTO BOARD(boardCode, boardName, boardWriter, boardDate, boardView, boardState)
        VALUES (#{boardCode}, #{boardName}, #{boardWriter}, #{boardDate}, #{boardView}, #{boardState})
    </insert>


    <delete id="delBoard" parameterType="BoardVO">
        delete
        from BOARD
        where boardCode = #{boardCode}
    </delete>


    <select id="listContents" resultType="ContentsVO">
        select contCode, boardCode, contTitle, contWriter, contContent, to_char(contDate, 'yyyymmdd') as contDate, contUpDate, contViews
        from Contents
    </select>

    <insert id="createCont" parameterType="ContentsVO">
        INSERT INTO CONTENTS(contCode, boardCode, contTitle, contWriter, contContent, contDate, contUpDate, contViews)
        VALUES (USER_SEQ.NEXTVAL , 1, #{contTitle}, #{contWriter}, #{contContent}, SYSDATE,  SYSDATE, #{contViews})
    </insert>

    <select id="selectCont" resultType="ContentsVO">
        select * from Contents
    </select>

</mapper>