<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit203.vinoweknow.dao.MagazineDAO">
    <insert id="createNews">
        INSERT INTO WINENEWS (newsCode, newsTitle, newsWriter, newDate, newsStatus, newsViews, memberCode)
        VALUES (#{newsCode}, #{newsTitle}, #{newsWriter}, #{newsDate}, #{newsStatus}, #{newsViews}, #{memberCode})

    </insert>

    <insert id="createKnow">
        INSERT INTO WINEKNOW (knowCode, knowTitle, knowWriter, knowDate, knowStatus, knowViews, memberCode)
        VALUES (#{knowCode}, #{knowTitle}, #{knowWriter}, #{knowDate}, #{knowStatus}, #{knowViews}, #{memberCode}s)

    </insert>

    <select id="listNews" resultType="NewsVO" >
        SELECT * FROM WINENEWS
    </select>

    <select id="listKnow" resultType="KnowVO" >
        SELECT * FROM WINEKNOW
    </select>
<!--    <insert id="createVote">-->


<!--    </insert>-->

<!--    <select id="readNews">-->
<!--        select-->
<!--    </select>-->

</mapper>