<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit203.vinoweknow.dao.MagazineDAO">
    <insert id="insertNews">
        INSERT INTO WINENEWS (newsCode, newsTitle, newsCont, newsWriter, newsDate,<!-- newsStatus,--> newsViews<!--, memberCode-->)
        VALUES (#{newsCode}, #{newsTitle}, #{newsCont}, admin, sysdate,<!-- #{newsStatus},--> 0<!--, #{memberCode}-->)

    </insert>

    <insert id="createKnow">
        INSERT INTO WINEKNOW (knowCode, knowTitle, knowCont, knowWriter, knowDate, knowStatus, knowViews, memberCode)
        VALUES (#{knowCode}, #{knowTitle}, #{knowCont}, #{knowWriter}, #{knowDate}, #{knowStatus}, #{knowViews}, #{memberCode})

    </insert>

    <select id="listNews" resultType="NewsVO" >
        SELECT * FROM WINENEWS
    </select>

    <select id="listKnow" resultType="KnowVO" >
        SELECT * FROM WINEKNOW
    </select>
<!--    <insert id="createVote">-->


<!--    </insert>-->

<!--    <select id="readNews">-->
<!--        select-->
<!--    </select>-->

</mapper>