<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.x3.model.dao.MemberDao">

    <!--회원가입-->
    <insert id="insertMember" parameterType="MemberVO">
        INSERT INTO MEMBER
        VALUES (#{memberId}, #{memberPw}, #{memberName}, #{memberGender}, #{memberBirth}, #{memberAddress},
                #{memberPhone}, #{memberEmail}, TO_CHAR(SYSDATE, 'YYYY/MM/DD'), #{subscriptStatus}, #{isAdmin})
        /*memberCode,memberId,memberPw,memberName,memberGender,memberBirth,
          memberAddress,memberPhone,memberEmail,memberSignup,memberStatus,isAdmin*/
    </insert>

    <!--맴버 검색-->
    <select id="searchMember" parameterType="MemberVO" resultType="MemberVO">
        select *
        from MEMBER
        where memberId = #{memberId}
    </select>

    <!--맴버리스트 검색-->
    <select id="memberListWhereObject" parameterType="MemberVO" resultType="MemberVO">
        select *
        from Member
    </select>

    <!--맴버삭제-->
    <delete id="deleteMember" parameterType="MemberVO">
        delete
        from MEMBER
        where memberId = #{memberId}
    </delete>

</mapper>