<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit203.vinoweknow.dao.MemberDao">

    <!--회원가입-->
    <insert id="insertMember" parameterType="MemberVO">
        INSERT INTO MEMBER
        VALUES (#{memberCode}, #{memberId}, #{memberPw}, #{memberName}, #{memberGender}, #{memberBirth}, #{memberAddress,jdbcType=VARCHAR},
                #{memberPhone,jdbcType=VARCHAR}, #{memberEmail,jdbcType=VARCHAR}, sysdate, #{subscriptStatus,jdbcType=VARCHAR}, #{isAdmin})
        /*memberCode,memberId,memberPw,memberName,memberGender,memberBirth,
          memberAddress,memberPhone,memberEmail,memberSignup,memberStatus,isAdmin*/
    </insert>

    <select id="memberCount" resultType="int">
        SELECT MAX(MEMBERCODE)
        FROM MEMBER
    </select>

    <!--맴버 검색-->
    <select id="searchMember" parameterType="MemberVO" resultType="MemberVO">
        select *
        from MEMBER
        where memberId = #{memberId}
    </select>

    <!--맴버리스트 검색-->
    <select id="memberList" parameterType="MemberVO" resultType="MemberVO">
        select *
        from Member
    </select>

    <!--맴버삭제-->
    <delete id="deleteMember" parameterType="MemberVO">
        delete
        from MEMBER
        where memberId = #{memberId}
    </delete>

</mapper>