<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>

<b2>HEllo Board~~</b2>

<table id="boardViewTable">
    <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>State</th>
        <th>Views</th>
        <th>Writer</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardVOList}">
        <td th:text="${board.boardCode}">code</td>
        <td th:text="${board.boardName}">name</td>
        <td th:text="${board.boardState}">stat</td>
        <td th:text="${board.boardView}">view</td>
        <td th:text="${board.boardWriter}">writer</td>
        <td th:text="${board.boardDate}">date</td>
    </tr>
    </tbody>
</table>



<table id="contentsViewTable">
    <thead>
    <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Writer</th>
        <th>Types</th>
        <th>OrderCode</th>
        <th>Email</th>
        <th>TelePhone</th>
        <th>ReceiveCheck</th>
        <th>Content</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contents : ${contentsVOList}">
        <td th:text="${contents.contCode}">code</td>
        <td th:text="${contents.boardCode}">name</td>
        <td th:text="${contents.contTitle}">stat</td>
        <td th:text="${contents.contWriter}">view</td>
        <td th:text="${contents.contContent}">writer</td>
        <td th:text="${contents.contDate}">date</td>
        <td th:text="${contents.contUpDate}">date</td>
        <td th:text="${contents.contViews}">date</td>
    </tr>
    </tbody>
</table>


</body>
</html>
