<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성 샘플 - Bootstrap</title> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<div class="container" >
    <div class="page-header">
        <!--
            <h1 th:if="!${board?.idx}">게시글 등록</h1>
            <h1 th:if="${board?.idx}">게시글 상세</h1>
        -->
        <h1>게시글 등록</h1>
    </div>
    <br/>
    <form th:action="@{form}" method="post">

        제목<input type="text" class="form-control" name="contWriter">
        작성자<input type="text" class="form-control" name="contTitle">
        내용<textarea class="form-control" name="contContent"></textarea>

        <button type="submit">저장</button>
        <div class="pull-left">
            <a href="/board/list" class="btn btn-success">목록으로</a>
        </div>


    </form>
</div>

<!--    <input id="contents_contentsCode" type="hidden" th:value="ㅎ"/>
    <input id="contents_create_date" type="hidden" th:value="ㅇ" />
    <table class="table">
        <tr>
            <th style="padding:13px 0 0 15px;">작성 날짜</th>
            <td>
                <input type="text" class="form-control input-sm" readonly
                       th:value="ㅁ" />
            </td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">제목</th>
            <td>
                <input id="contTitle" name="contTitle" type="text" class="form-control input-sm"
                       th:value="ㄷ" />
            </td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">내용</th>
            <td>
                    <textarea id="contContent" name="contContent" class="form-control input-sm"
                              maxlength="140" rows="70" style="height: 200px;"
                              th:text="ㅂ" ></textarea>
                <span class="help-block"></span>
            </td>
        </tr>
    </table>-->

    <!-- 목록으로 -->
<!--    <div class="pull-left">
        <a href="/board/list" class="btn btn-success">목록으로</a>
    </div>

    &lt;!&ndash; 저장/수정/삭제 버튼 &ndash;&gt;
    <div class="pull-right">
        <button th:href="board/" type="button" class="btn btn-primary" id="insert" >
            저장
        </button>
     &lt;!&ndash;   <button th:if="${contents?.contCode}" type="button" class="btn btn-info" id="update">
            수정
        </button>
        <button th:if="${contents?.contCode}" type="button" class="btn btn-danger" id="delete">
            삭제
        </button>&ndash;&gt;
    </div>
</div>

<th:block layout:fragment="contentsScript">
</th:block>

<th:block layout:fragment="customScript">
    &lt;!&ndash; 신규 등록 &ndash;&gt;
    <script th:if="!${contents?.contCode}">
        // 저장버튼
        $("#insert").click(function() {
            var jsonData = JSON.stringify({
                title : $("#contTitle").val(),
                content : $("#contContent").val()
            });
            $.ajax({
                url : "http://localhost:9099/board/",
                type : "POST",
                data : jsonData,
                contentType : "application/json",
                dataType : "json",
                success : function() {
                    alert("저장 성공!");
                    location.href = "/board/list";
                },
                error : function() {
                    alert("저장 실패!");
                }
            });
        });
    </script>

   &lt;!&ndash; &lt;!&ndash; 수정/삭제 &ndash;&gt;
    <script th:if="${board?.idx}">
        // 수정버튼
        $("#update").click(function() {
            var jsonData = JSON.stringify({
                title : $("#contTitle").val(),
                content : $("#board_content").val()
            });
            $.ajax({
                url : "http://localhost:8080/board/" + $("#board_idx").val(),
                type : "PUT",
                data : jsonData,
                contentType : "application/json",
                dataType : "json",
                success : function() {
                    alert("수정 성공!");
                    location.href = "/board/list";
                },
                error : function() {
                    alert("수정 실패!");
                }
            });
        });

        // 삭제버튼
        $("#delete").click(function() {
            $.ajax({
                url : "http://localhost:8080/board/" + $("#board_idx").val(),
                type : "DELETE",
                success : function() {
                    alert("삭제 성공!");
                    location.href = "/board/list";
                },
                error : function() {
                    alert("삭제 실패!");
                }
            });
        });
    </script>&ndash;&gt;
</th:block>-->
</body>
</html>