<!--<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
    <title>List</title>

    &lt;!&ndash; Page level plugin CSS&ndash;&gt;
    <th:block layout:fragment="contentsCss">
    </th:block>
</head>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록 샘플 - Bootstrap</title> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style> body {
        min-height: 100vh;
    }

    /*.input-form {
        max-width: 680px;
        margin-top: 80px;
        padding: 32px;
        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }*/ </style>
</head>

<body>
<!-- header를 작성하지 않아도 header가 이 위치에 구성된다. -->

<div class="container"> <!--layout:fragment="content"-->

    <div class="page-header">
        <h1>게시글 목록</h1>
    </div>
    <div class="pull-right" style="width:100px;margin:10px 0;">
        <a href="/board/form" class="btn btn-primary btn-block">등록</a>
    </div>
    <br/>
    <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr class="warning">
                    <th class="col-sm-1">No</th>
                    <th class="col-sm-5">제목</th>
                    <th class="col-sm-2">작성자</th>
                    <th class="col-sm-3">작성날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contents : ${contentsVOList}">
                    <td th:text="${contents.contCode}"></td>
                    <td>
                        <a th:href="'/board?Code='+${contents.contCode}" th:text="${contents.contTitle}"></a>
                    </td>
                    <td th:text="${contents.contWriter}">
                    </td>
                    <td th:text="${contents.contDate}">
                    </td>
                   <!-- <td th:text="${#temporals.format(board.boardDate, 'yyyy-MM-dd HH:mm:dd')}">
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>

        <!-- pagination -->
       <!-- <nav class="navbar" aria-label="Page navigation" style="text-align: center;">
            <ul class="pagination"
                th:with="startNumber=${T(Math).floor(boardVOList.number/10)} * 10 + 1,
                            endNumber=(${boardVOList.totalPages} > ${startNumber} + 9) ?
                                        ${startNumber} + 9 : ${boardVOList.totalPages}">

                <li th:style="${boardList.first} ? 'display:none'">
                    <a href="/board/list?page=1">&laquo;</a>
                </li>
                <li th:style="${boardList.first} ? 'display:none'">
                    <a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
                </li>
                <li th:each="page : ${#numbers.sequence(startNumber, endNumber)}"
                    th:class="(${page} == ${boardList.number} + 1) ? 'active'">
                    <a th:href="@{/board/list(page=${page})}" th:text="${page}">
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li th:style="${boardList.last} ? 'display:none'">
                    <a th:href="@{/board/list(page=${boardList.number} + 2)}">&rsaquo;</a>
                </li>
                <li th:style="${boardList.last} ? 'display:none'">
                    <a th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </nav>-->
    </div>
<!--</div>

&lt;!&ndash; 이 위치에 Bootstrap/Jquery core JavaScript가 구성된다. &ndash;&gt;

&lt;!&ndash; Page level plugin JavaScript&ndash;&gt;
<th:block layout:fragment="contentsScript">
</th:block>
&lt;!&ndash; Custom scripts for this pages&ndash;&gt;
<th:block layout:fragment="customScript">
</th:block>
</body>
</html>-->

<footer class="my-3 text-center text-small"><p class="mb-1">&copy; 2021 YD</p></footer>
</div>
<script> window.addEventListener('load', () => {
    const forms = document.getElementsByClassName('validation-form');
    Array.prototype.filter.call(forms, (form) => {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });
}, false); </script>
</body>
</html>