<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>와인등록</title> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style> body {
        min-height: 100vh;
        background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
        background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
    }

    .input-form {
        max-width: 680px;
        margin-top: 80px;
        padding: 32px;
        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    } </style>
</head>
<body>
    <div class="container">
        <div class="input-form-backgroud row">
            <div class="input-form col-md-12 mx-auto"><h4 class="mb-3">와인등록</h4>
                <form class="validation-form" novalidate action="/member/join" method="post">
                    <div class="row">
<!--
                        <div class="col-md-6 mb-3">와인이름(한글)<input type="text" class="form-control"
                                                                  name=""
                                                                  placeholder=""
                                                                  value=""
                                                                  required>
                            <div class="invalid-feedback"> 와인이름(한글)을 입력해주세요.</div>
                        </div>
-->
                        <div class="col-md-6 mb-3">와인이름(영문)<input type="password"
                                                                  class="form-control"
                                                                  name="memberPw"
                                                                  placeholder=""
                                                                  value="" required>
                            <div class="invalid-feedback"> 와인이름(영문)을 입력해주세요.</div>
                        </div>
                        <div class="col-md-6 mb-3">와인타입<input type="text" class="form-control" name="memberName"
                                                              placeholder="레드일 경우, 영문 red" required>
                            <div class="invalid-feedback">와인타입을 입력해주세요.</div>
                        </div>
                        <div class="col-md-6 mb-3">가격<input type="text" class="form-control" name="memberBirth"
                                                            placeholder=""
                                                            required>
                            <div class="invalid-feedback"> 가격을 입력해주세요.</div>
                        </div>
                        <div class="col-md-6 mb-3">빈티지<input type="text" class="form-control" name="memberBirth"
                                                             placeholder=""
                                                             required>
                            <div class="invalid-feedback">생산년도를 입력해주세요.</div>
                        </div>
                        <div class="col-md-6 mb-3">당도<input type="text" class="form-control" name="memberBirth"
                                                            placeholder=""
                                                            required>
                            <div class="invalid-feedback">당도를 입력해주세요.</div>
                        </div>
                        <div class="col-md-6 mb-3">산도<input type="text" class="form-control" name="memberBirth"
                                                            placeholder=""
                                                            required>
                            <div class="invalid-feedback">산도를 입력해주세요.</div>
                        </div>
                        <div class="col-md-6 mb-3">바디<input type="text" class="form-control" name="memberBirth"
                                                            placeholder=""
                                                            required>
                            <div class="invalid-feedback">바디를 입력해주세요.</div>
                        </div>
                        <div class="col-md-6 mb-3">타닌<input type="text" class="form-control" name="memberBirth"
                                                            placeholder=""
                                                            required>
                            <div class="invalid-feedback">타닌을 입력해주세요.</div>
                        </div>
                    </div>
                    <!--
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                                                                                           id="aggrement" required> <label
                                                class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label></div>
                    <div class="mb-4"></div>
                    -->
                    <button class="btn btn-primary btn-lg btn-block" type="submit">등록 완료</button>
                </form>
            </div>
        </div>
        <footer class="my-3 text-center text-small"><p class="mb-1">&copy; 2021 YD</p></footer>
    </div>
    <script> window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');
        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false); </script>
</body>
</html>