<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create News</title>
</head>
<body>
<h2>Write News</h2>
<div class="container">
    <form id="frm" name="frm" method="post" action="/magazine/insertnews">
        <table class="news_detail">
            <tr>
                <td>제목</td>
                <td><input type="text" id="newsTitle" name="newsTitle"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="newsCont" name="newsCont"></textarea>
                </td>
            </tr>
        </table>
        <input type="submit" id="submit" value="저장" class="btn">
    </form>
</div>
</body>
</html>