<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News View</title>
</head>
<body>
<div class="container">
    <h2>News List</h2>

    <table class="newsViewTable">
        <thead>
        <tr>
            <th>newsCode</th>
            <th>newsTitle</th>
            <th>newsCont</th>
            <th>newsWriter</th>
            <th>newsDate</th>
            <th>newsStatus</th>
            <th>newsViews</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="news : ${newsVOList}">
            <td th:text="${news.newsCode}">newsCode</td>
            <td th:text="${news.newsTitle}">newsTitle</td>
            <td th:text="${news.newsCont}">newsCont</td>
            <td th:text="${news.newsWriter}">newsWriter</td>
            <td th:text="${news.newsDate}">newsDate</td>
            <td th:text="${news.newsStatus}">newsStatus</td>
            <td th:text="${news.newsViews}">newsViews</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>