<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- 부트스트랩 테이블 -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

</head>
<body>
    <h1>vino</h1>
    <a href="/member/joinForm">회원가입</a>

    <!-- bootstrap container -->
    <div class="container"> <!-- bootstrap 테이블 생성 -->
        <table data-toggle="table">
            <thead>
                <tr>
                    <th>와인이름</th>
                    <th>와인타입</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="wine : ${wineList}">
                    <td th:text="${wine.wineNameKo}"></td>
                    <td th:if="${wine.wineType} == 'red'" th:text="레드와인"></td>
                    <td th:if="${wine.wineType} == 'white'" th:text="화이트와인"></td>
                </tr>
            </tbody>
        </table>
    </div> <!-- Jquery 가져오기 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- bootstrap 가져오기 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script> <!-- bootstrap table 가져오기 -->
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

</body>
</html>